_site
.sass-cache/
.jekyll-metadata
.vscode
config-example.yaml
*.sublime-workspace
Gemfile.lock
startbootstrap-*
docs/
venv/
resources/HorizontalDropDownMenu/
resources/mega-dropdown
_layouts/bootstrap-horizontalmegamenu.html
python/data/
python/tmp/
sponsor-engine/
_prizes/

nohup.out
