Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^portal\.govhack\.org$ [NC]
RewriteRule ^locations/nz/queenstown\.html$ http://govhack.org.nz/2016-events-and-info/queenstown [L,R=301,NC]