---
layout: bootstrap
no_major_sponsors: true
---
<!-- Registration, tiles etc -->
<section id="preamble">
    <div class="container gh-tiles">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-group" id="regoAccordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="regoHeading">
                      <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#regoAccordion" href="#regoCollapse" aria-expanded="false" aria-controls="regoCollapse">
                          <strong>Registrations are still open! Click here.</strong>
                        </a>
                      </h4>
                    </div>
                    <div id="regoCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="regoHeading">
                      <div class="panel-body">
                        <p> Choose your home state to register, and don't forget to <a href="locations.html">read up on your chosen event</a>.</p>
                        {% for jurisdiction in site.jurisdictions %}
                            {% assign jurisdictions = "" %}
                            {% unless jurisdiction.eventbrite == nil %}
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <strong>🎫 <a href="{{ jurisdiction.eventbrite }}">{{ jurisdiction.title }} tickets</a></strong>
                                </div>
                            {% endunless %}
                        {% endfor %}      
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <a href="/prizes.html" class="tile blue">
                    <div class="tile-caption">
                        <h3>Prizes *</h3>
                        <p>* Will be released at 7:00pm on Friday</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="/handbook" class="tile pink">
                    <div class="tile-caption">
                        <h3>Handbook</h3>
                        <p>Information for competitors and developers</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="#its-not-available-until-friday!" class="tile blue">
                    <div class="tile-caption">
                        <h3>Hackerspace *</h3>
                        <p>Official team registration and submissions</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a href="/datasets.html" class="tile pink">
                    <div class="tile-caption">
                        <h3>Datasets</h3>
                        <p>Use official datasets to compete for prizes</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>

<!-- Main Content -->
<section id="intro">
  <div class="container">
      <!--<div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 id="jabberwocky">GovHack | <i>Project Jabberwocky</i></h1>
          </div>
      </div>-->
      <div>
        <p>
            <h2 data-toc-text="Welcome">Welcome to the GovHack 2016 competition portal!</h2>
            <br>
            The portal is an experiment for 2016's competition to make it easier to explore and participate in GovHack. In your feedback you've told us that it should be easier to find data relevant to each prize, to your local event, and to broad themes (such as science and local government).
        </p>
        <p>
            Through the portal you'll be able to explore the <a href="/datasets.html">official competition datasets</a>, find an exhaustive list of <a href="/dataportals.html">government data portals</a>, and see all of the data <a href="/sponsors.html">each sponsor is providing</a>. As we get closer to the competition you'll be able to find out about the wonderful <a href="/mentors.html">mentors</a> who'll be available to help you out, and when the competition opens you'll be able to see all of the national and local <a href="/prizes.html">prizes</a>.
        </p>
        <p>
            You'll also be able explore your <a href="/locations.html">local GovHack</a> to find datasets, data portals, prizes, and mentors for your local area.<br>
            <br>
            We'll be continually updating with new content as the competition draws closer, so watch this space! 
        </p>
      </div>
      <!--<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/132280958?title=0&byline=0&portrait=0" class="embed-responsive-item" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>-->
  </div>
</section>

{% comment %}
<!-- Theme Section -->
{% assign theme_ids = "" %}
{% for theme in site.themes %}
    {% if theme.jurisdiction == "australia" %}
    {% assign theme_ids = theme_ids | append: theme.id %}
    {% assign theme_ids = theme_ids | append: "," %}
    {% endif %}
{% endfor %}

{% unless theme_ids == "" %}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="themes">Themes</h2>
                <h3 class="section-subheading text-muted">A few themes to get you started</h3>
            </div>
        </div>
        <div class="row">
            {% assign theme_ids_list = theme_ids | split: "," %}
            {% include theme_cards.bs.html theme_ids=theme_ids_list %}
        </div>
        <div class="row">
          <h3 class="section-subheading text-muted">We also have some state-specific themes to help you out...</h3>
          
          {% include jurisdictions_bar.bs.html section="prizes" %}
        </div>
    </div>
</section>
{% endunless %}

{% assign dataportal_ids = "" %}
{% for dataportal in site.dataportals %}
    {% if dataportal.type == "major-portal" %}
        {% assign dataportal_ids = dataportal_ids | append: dataportal.gid %}
        {% assign dataportal_ids = dataportal_ids | append: "," %}
    {% endif %}
{% endfor %}

{% unless dataportal_ids == "" %}
<!-- Data Portals Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 class="section-heading">Data Portals</h1>
          </div>
        </div>
        <div class="row">
            <p>
                While GovHack higlights a small number of official competition datasets, the full treasure trove of government data is available from a range of government, agency, and subject-area specific data portals. Visit our <a href="datasets.html">datasets</a> page for the full list.
            </p>
            {% assign dataportal_ids_list = dataportal_ids | lstrip | split: "," %}
            {% include dataportal_cards.bs.html dataportal_ids=dataportal_ids_list %}
        </div>
    </div>
</section>
{% endunless %}
{% endcomment %}

{% comment %}
<!-- Mentors Section -->
{% if site.mentors.size > 0 %}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 class="section-heading" id="mentors">Mentors</h1>
          </div>
        </div>
        <div class="row">
          {% assign mentors_by_jurisdn = site.mentors | group_by:"jurisdiction" %}
          {% include mentor_card_by_jurisdiction.bs.html mentors_by_jurisdn=mentors_by_jurisdn %}
        </div>
    </div>
</section>
{% endif %}
{% endcomment %}

{% include sponsor_block.bs.html sponsor_level="national" jurisdiction_gid="australia" jurisdiction_name="National" %}