---
layout: bootstrap
title: Sponsors
---
<!-- Main Content -->
<!--<section id="portfolio">
    <div class="container">
        <div class="row">
          <h3 class="section-subheading text-muted">Browse datasets for your state...</h3>
          
          {% include jurisdictions_bar.bs.html section="datasets" %}
        </div>
    </div>
</section>-->


<!-- Sponsors Section -->
{% assign sponsors = site.organisations | where: "is_sponsor", true | where: "jurisdiction", "australia" %}

{% if sponsors.size > 0 %}
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 class="section-heading" id="organisations">Sponsors</h1>
          </div>
        </div>
        <div class="row">
        {% assign sponsors_by_level = sponsors | group_by: "sponsor_level_id" %}

            <div class="container-fluid govhack-sponsors">
            {% for sponsor_level in site.data.sponsor_config.national.classes %}
                {% assign col_width = 12 | divided_by: sponsor_level.columns | round: 0 %}

                {% for sponsor_cat in sponsors_by_level %}
                    {% if sponsor_cat.name == sponsor_level.slug %}
                        <h2>{{ sponsor_cat.items[0].sponsor_level_desc }}</h2>

                        {% assign sponsor_num = 0 %}

                        {% comment %}
                        =======================================
                        This horrendous hack brought to you by the state of modern web development.
                        http://stackoverflow.com/a/20548578

                        No, seriously.

                        If you're changing this code PLEASE make sure you change the readable version
                        inside this comment, and the actual version that's used for rendering.
                        =======================================
                        {% for sponsor in sponsor_cat.items %}
                            {% assign modulo = sponsor_num | modulo: sponsor_level.columns %}
                            {% if modulo == 0 %}
                                {% if sponsor_num > 0 %}
                                    </div>
                                {% endif %}
                                <div class="row">
                            {% endif %}

                            <div class="col-md-{{ col_width }} vcenter text-center">
                                <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo_url }}"></a>
                            </div>

                            {% assign sponsor_num = sponsor_num | plus: 1 %}
                        {% endfor %}
                        <!-- Closes the trailing <div class="row"> -->
                        </div>
                        {% endcomment %}


                        {% comment %}
                        =======================================
                        This is the ACTUAL code for rendering sponsor logos into rows and columns.
                        =======================================
                        {% endcomment %}

                        {% for sponsor in sponsor_cat.items %}{% assign modulo = sponsor_num | modulo: sponsor_level.columns %}{% if modulo == 0 %}{% if sponsor_num > 0 %}</div>{% endif %}<div class="row">{% endif %}<div class="col-sm-12 col-md-{{ col_width }} vcenter text-center"><a href="{{ sponsor.url }}"><img src="{{ sponsor.logo_url }}"></a></div>{% assign sponsor_num = sponsor_num | plus: 1 %}{% endfor %}<!-- Closes the trailing <div class="row"> --></div>

                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}