---
layout: bootstrap
title: Prizes
---
<!-- Main Content -->
<!--<section id="portfolio">
    <div class="container">
        <div class="row">
          <h3 class="section-subheading text-muted">Browse prizes for your state...</h3>
          
          {% include jurisdictions_bar.bs.html section="prizes" %}
        </div>
    </div>
</section>-->

<!-- Prizes Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 data-toc-skip>Prizes</h1>
          </div>
        </div>
        <div class="row">
            {% if site.cfg.prizes_active == false %}
                <p>Prizes aren't released until GovHack begins at <strong>7pm, Friday the 29th July 2016</strong>, at your local event.</p>
            {% endif %}
        </div>
    </div>
</section>

{% if site.cfg.prizes_active == true %}
<!-- International Prizes Section -->
<section>
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2>International Prizes</h2>
          </div>
        </div>
        <div class="row">
            {% assign international_prizes = site.prizes | where: "jurisdiction", "international" %}
            {% include prize_cards.bs.html prizes=international_prizes %}
        </div>
    </div>
</section>

<!-- Major Category Section -->
<section>
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2>Major Category Prizes</h2>
          </div>
        </div>
        <div class="row">
            {% assign major_cat_prizes = site.prizes | where: "jurisdiction", "australia" %}
            {% include prize_cards.bs.html prizes=major_cat_prizes %}
        </div>
    </div>
</section>

<!-- Bounty Section -->
<section>
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2>Bounty Prizes</h2>
          </div>
        </div>
        <div class="row">
            {% assign bounty_prizes = site.prizes | where: "jurisdiction", "australia" | where: "type", "bounty" %}
            {% include prize_cards.bs.html prizes=bounty_prizes %}
        </div>
    </div>
</section>

<!-- State Section -->
<section>
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2>State Prizes</h2>
              Checkout the prizes for your local area!
          </div>
        </div>
        <div class="row">
            {% for jurisdiction in site.jurisdictions %}
                {% unless jurisdiction.gid == "international" or jurisdiction.gid == "australia" or jurisdiction.gid == "nz" or jurisdiction.gid == "nt" %}
                    {% comment %}
                    <a href="{{ jurisdiction.url }}#prizes">{{ jurisdiction.name }}</a>
                    <br>
                    {% endcomment %}

                    <div class="row dataset-org">
                        <h3 class="dataset-category"><a href="{{ jurisdiction.url }}">{{ jurisdiction.name }}</a></h3>

                        {% assign events = site.locations | where: "jurisdiction", jurisdiction.gid %}
                        {% assign jurisdiction_prizes = site.prizes | where: "jurisdiction", jurisdiction.gid %}
                        {% for event in events %}
                            {% assign local_prize_ids = "" %}
                            {% for prize in jurisdiction_prizes %}
                                {% if prize.events contains event.gid %}
                                    {% assign local_prize_ids = local_prize_ids | append: prize.gid %}
                                    {% assign local_prize_ids = local_prize_ids | append: "," %}
                                {% endif %}
                            {% endfor %}

                            {% if local_prize_ids != "" %}
                                <div class="row dataset-org">
                                    <h4><a href="{{ event.url }}">{{ event.name }}</a></h4>

                                    {% assign local_prize_ids_list = local_prize_ids | lstrip | split: "," %}
                                    {% include prize_cards.bs.html prize_ids=local_prize_ids_list %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}