---
layout: bootstrap
title: Prizes
---
<!-- Main Content -->
<section id="portfolio">
    <div class="container">
        <!--<div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="prizes">Jurisdictions</h2>
          </div>
        </div>-->
        <div class="row">
          <h3 class="section-subheading text-muted">Browse prizes for your state...</h3>
          
          {% include jurisdictions_bar.bs.html section="prizes" %}
        </div>
    </div>
</section>

<!-- Prizes Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <!--<div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="prizes">Prizes</h2>
          </div>
        </div>-->
        <div class="row">
          {% include prize_cards.bs.html %}
        </div>
    </div>
</section>