<!-- This is the chronologically ordered menu. TBA: Categorically ordered menu -->
<ul class="nav nav-pills nav-stacked">
    <li role="presentation">
        <a href="/preparation.html" aria-controls="prep" role="tab" data-toggle="pill">Preparation</a>
    </li>
    <li role="presentation">
        <a href="/during_the_competition.html" aria-controls="during" role="tab" data-toggle="pill">During the comp</a>
    </li>
    <li role="presentation">
        <a href="/building_your_hack.html" aria-controls="build" role="tab" data-toggle="pill">Building your hack</a>
    </li>
    <li role="presentation">
        <a href="/submitting_your_work" aria-controls="submit" role="tab" data-toggle="pill">Submitting your work</a>
    </li>
    <li role="presentation">
        <a href="/what_happens_next" aria-controls="after" role="tab" data-toggle="pill">What happens next</a>
    </li>
</ul>
