<!-- This is the chronologically ordered menu. TBA: Categorically ordered menu -->
<ul class="nav nav-pills nav-stacked">
    <li role="presentation">
        <a href="preparation.html">Preparation</a>
    </li>
    <li role="presentation">
        <a href="during_the_competition.html">During the comp</a>
    </li>
    <li role="presentation">
        <a href="building_your_hack.html">Building your hack</a>
    </li>
    <li role="presentation">
        <a href="submitting_your_work.html">Submitting your work</a>
    </li>
    <li role="presentation">
        <a href="what_happens_next.html">What happens next</a>
    </li>
</ul>
