<!-- This is the chronologically ordered menu. TBA: Functionally ordered menu -->
<h4>By timeline</h4>
<ul id="handbook-chrono-nav" class="nav nav-pills nav-stacked" role="tablist">
    <li role="presentation">
        <a href="/handbook#/preparing" data-target="#preparing" aria-controls="preparing" role="tab">Preparation</a>
    </li>
    <li role="presentation">
        <a href="/handbook#/competing" data-target="#competing" aria-controls="competing" role="tab">Competing in the comp</a>
    </li>
    <li role="presentation">
        <a href="/handbook#/creating" data-target="#creating" aria-controls="creating" role="tab">Creating your hack</a>
    </li>
    <li role="presentation">
        <a href="/handbook#/submitting" data-target="#submitting" aria-controls="submitting" role="tab">Submitting your project</a>
    </li>
</ul>


<!-- This is the functionally ordered menu -->
<h4>By function</h4>
<ul id="handbook-functional-nav" class="nav nav-pills nav-stacked" role="tablist">
    <li role="presentation">
        <a href="/handbook#/competitors" data-target="#competitors" aria-controls="preparing" role="tab">Competitor information</a>
    </li>
    <li role="presentation">
        <a href="/handbook#/venues" data-target="#venues" aria-controls="competing" role="tab">Venue</a>
    </li>
    <li role="presentation">
        <a href="/handbook#/hackers" data-target="#hackers" aria-controls="building" role="tab">Hacker Toolkit</a>
    </li>
</ul>