{% if include.mentors %}
  {% assign mentor_ids = include.mentors | map: "gid" %}
{% else %}
  {% assign mentor_ids = include.mentor_ids %}
{% endif %}

{% if mentor_ids == nil %}
    {% assign mentor_ids = site.mentors | map: "gid" %}
{% endif %}

{% for mentor_id in mentor_ids %}
    {% assign mentor = site.mentors | where: "gid", mentor_id | first %}
    {% if mentor %}
        {% assign mentor_org = site.organisations | where: "gid", mentor.organisation | first %}
        <div class="media mentor">
            <div class="media-left">
                <a href="{{ mentor.url }}"><img src="{{ mentor.photo_url }}" style="max-width: 105px; max-height: 105px;"></a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ mentor.url }}">{{ mentor.name }}</a><br/> 
                    <small class="text-muted">
                        {{ mentor.position_title }}, {{ mentor_org.name | default: mentor.organisation }}
                    </small>
                </h4>
                
                {{ mentor.excerpt }}
            </div>
            <div class="media-right">
                <ul class="list-inline social-buttons">
                    {% if mentor.contact.twitter %}
                    <li>
                        <a href="https://twitter.com/{{ mentor.contact.twitter }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if mentor.contact.facebook %}
                    <li>
                        <a href="{{ mentor.contact.facebook }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if mentor.contact.linkedin %}
                    <li>
                        <a href="{{ mentor.contact.linkedin }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="mailto:{{ mentor.contact.email }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endfor %}
