{% if include.organisations %}
  {% assign organisation_ids = include.organisations | map: "id" %}
{% else %}
  {% assign organisation_ids = include.organisation_ids %}
{% endif %}

{% for organisation in site.organisations %}
  {% if organisation_ids == nil or organisation_ids contains organisation.id %}
  <div class="media">
      <div class="media-left">
        {% if organisation.logo_url != "http://" %}
          <a href="{{ organisation.url }}"><img src="{{ organisation.logo_url }}" style="max-width: 105px; max-height: 105px;"></a>
        {% else %}
          <a href="#"><img src="holder.js/105x105"></a>
        {% endif %}
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ organisation.url }}">{{ organisation.name }}</a></h4>
        {{ organisation.excerpt }}
      </div>
  </div>
  {% endif %}
{% endfor %}