{% if site.collections.sponsors.enabled == true %}
{% if site.organisations.size > 0 %}
        {% assign sponsors = site.organisations | where: "is_sponsor", true | where: "jurisdiction", include.jurisdiction_gid %}
        {% assign heading_level = include.heading_level | default: "h2" %}

        {% comment %}
        =======================================
        Filter out local event sponsors from the state sponsors.
        =======================================
        {% endcomment %}

        {% assign sponsor_cat = include.sponsor_level %}
        {% if include.sponsor_level == "state" %}
            {% assign sponsors = sponsors | where: "events", "" %}
        {% elsif include.sponsor_level == "local" %}
            {% assign sponsor_cat = "state" %}
        {% endif %}


        {% comment %}
        =======================================
        Determine if we have ANY sponsors to display.
        =======================================
        {% endcomment %}

        {% assign sponsors_by_level = sponsors | group_by: "sponsor_level_id" %}

        {% assign has_sponsors = false %}
        {% if include.sponsor_level == "local" %}
            {% assign local_sponsors = false %}

            {% for sponsor_level in site.data.sponsor_config[sponsor_cat].classes %}
                {% for sponsor_cat in sponsors_by_level %}
                    {% if sponsor_cat.name == sponsor_level.slug %}
                        {% for sponsor in sponsor_cat.items %}
                            {% if sponsor.events contains include.location_gid %}
                                {% assign local_sponsors = true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if local_sponsors == true %}
                {% assign has_sponsors = true %}
            {% endif %}
        {% elsif sponsors.size > 0 %}
            {% assign has_sponsors = true %}
        {% endif %}

        {% comment %}
        =======================================
        Filtering to only display certain classes of sponsor.
        e.g. Lead sponsors
        =======================================
        {% endcomment %}

        {% if include.sponsor_level_ids != "" %}
            {% assign sponsor_level_ids = include.sponsor_level_ids | split: "," %}
            {% assign sponsor_level_ids_len = sponsor_level_ids | size %}
        {% endif %}

        {% if has_sponsors %}
        <!-- Sponsors Section -->
        <section id="portfolio">
            <div class="container">
            <!-- {{ include.jurisdiction_name }} Sponsors -->
            <div class="row header-row">
            <div class="col-lg-12 text-center">
                <{{ heading_level }} class="section-heading" data-toc-text="{{ include.jurisdiction_name }} Sponsors"{% if include.hide_category_heading_from_toc == true %} data-toc-skip{% endif %}>{{ include.jurisdiction_name }} Sponsors</{{ heading_level }}>
            </div>
            </div>
            <div class="row">
                <div class="container-fluid govhack-sponsors">
                {% for sponsor_level in site.data.sponsor_config[sponsor_cat].classes %}
                    {% if sponsor_level_ids_len > 0 %}
                        {% unless sponsor_level_ids contains sponsor_level.slug %}
                            {% continue %}
                        {% endunless %}
                    {% endif %}

                    {% assign col_width = 12 | divided_by: sponsor_level.columns | round: 0 %}

                    {% for sponsor_cat in sponsors_by_level %}
                        {% if sponsor_cat.name == sponsor_level.slug %}
                            {% if include.sponsor_level == "local" %}
                                {% assign local_sponsors = false %}
                                {% for sponsor in sponsor_cat.items %}
                                    {% if sponsor.events contains include.location_gid %}
                                        {% assign local_sponsors = true %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}

                                {% if local_sponsors == false %}
                                    {% continue %}
                                {% endif %}
                            {% endif %}

                            <h3 data-toc-skip>{{ sponsor_cat.items[0].sponsor_level_desc }}</h3>

                            {% assign sponsor_num = 0 %}

                            {% comment %}
                            =======================================
                            This horrendous hack brought to you by the state of modern web development.
                            http://stackoverflow.com/a/20548578

                            No, seriously.

                            If you're changing this code PLEASE make sure you change the readable version
                            inside this comment, and the actual version that's used for rendering.
                            =======================================
                            {% for sponsor in sponsor_cat.items %}
                                {% if include.sponsor_level == "local" %}
                                    {% unless sponsor.events contains include.location_gid %}
                                        {% continue %}
                                    {% endunless %}
                                {% endif %}

                                {% assign modulo = sponsor_num | modulo: sponsor_level.columns %}
                                {% if modulo == 0 %}
                                    {% if sponsor_num > 0 %}
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                {% endif %}

                                <div class="col-md-{{ col_width }} vcenter text-center">
                                    <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo_url }}"></a>
                                </div>

                                {% assign sponsor_num = sponsor_num | plus: 1 %}
                            {% endfor %}
                            <!-- Closes the trailing <div class="row"> -->
                            </div>
                            {% endcomment %}


                            {% comment %}
                            =======================================
                            This is the ACTUAL code for rendering sponsor logos into rows and columns.
                            =======================================
                            {% endcomment %}

                            {% for sponsor in sponsor_cat.items %}{% if include.sponsor_level == "local" %}{% unless sponsor.events contains include.location_gid %}{% continue %}{% endunless %}{% endif %}{% assign modulo = sponsor_num | modulo: sponsor_level.columns %}{% if modulo == 0 %}{% if sponsor_num > 0 %}</div>{% endif %}<div class="row">{% endif %}<div class="col-sm-12 col-md-{{ col_width }} vcenter text-center"><a href="{{ sponsor.url }}"><img src="{{ sponsor.logo_url }}"></a></div>{% assign sponsor_num = sponsor_num | plus: 1 %}{% endfor %}<!-- Closes the trailing <div class="row"> --></div>

                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    {% endif %}
{% endif %}