<!-- National Sponsors Aside -->
<aside class="clients national-sponsors-lockup">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <h3 data-toc-skip>GovHack Sponsors</h3>
                <h4 data-toc-skip>Lead Agency 2016</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include organisation_logos.bs.html organisation_ids="ip_australia" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 data-toc-skip>International Prize Sponsors 2016</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {% include organisation_logos.bs.html organisation_ids="google" %}
            </div>
            <div class="col-md-3">
                {% include organisation_logos.bs.html organisation_ids="iag" %}
            </div>
            <div class="col-md-3">
                {% include organisation_logos.bs.html organisation_ids="ancestry" %}
            </div>
        </div>

        <!-- 
        <div class="row">
            <div class="col-lg-12">
                <h4 data-toc-skip>Platinum Sponsors 2016</h4>
            </div>
        </div>
        <div class="row">
            Announcement coming soon.
        </div>
        -->
        
        <div class="row">
            <div class="col-lg-12">
                <h4 data-toc-skip>Gold Sponsors 2016</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="microsoft" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4 data-toc-skip>Silver Sponsors 2016</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="dla_piper" %}
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                <h4 data-toc-skip>National Government Agency Supporters 2016</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="ato" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="dept_finance" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="bom" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="dept_infrastructure" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="abr" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="ga" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="afsa" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="dept_industry" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="aihw" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="abc" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="abs" %}
            </div>
            <div class="col-md-3 col-sm-6">
                {% include organisation_logos.bs.html organisation_ids="data61" %}
            </div>
        </div>
    </div>
</aside>