/** Random extra styles thrown in by AY **/
.card {
    border: 2px solid ghostwhite;
    border-radius: 4px;
}

.card-header {
    padding: 10px 20px;
    border-bottom: 2px solid ghostwhite;
}
.card-body {
    padding: 20px;
}
.card-footer {
    border-top: 2px solid ghostwhite;
    padding: 10px 20px;
}