 /** Extra layout rules by AY **/
 
.national-sponsors-lockup .row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.media-subheading {
    margin-top: -0.4em;
    margin-bottom: 0.6em;
}

img.gh-sponsor-logo {
    
}