---
layout: handbook_template_bs
chrono_sections:
  - category_verb: preparing
    heading: Preparing before the event
  - category_verb: competing
    heading: Competing for glory
  - category_verb: creating
    heading: Creating your hack
  - category_verb: submitting
    heading: Submitting your project
target_audiences:
  - category_name: comp
    title: For all competitors
  - category_name: toolkit
    title: For hackers
---

<div class="tab-content">

    {% comment %}
    ==================================================
    Is this the first visit? If so, display a form and
    capture some preferences from them e.g.
    + First hackathon?
    + Which venue?
    + Menu display fashion (chrono or functional?)
    ==================================================
    {% endcomment %}
    <section role="tabpanel" class="tab-pane active" id="home">
        <header class="header">
            <h1>GovHack Participant Handbook and Hacker Toolkit</h1>
        </header>

        <div class="alert alert-info">The Handbook is now in beta. Please report any bugs to web@govhack.org</div>

        <p><strong>A note to returning GovHackers:</strong> In previous years you've probably read our participant handbook (a PDF) and perhaps used our Hacker Toolkit (a ReadTheDocs site). Well, this handbook is the successor to both of those. The competition portal is the one portal to rule them all!</p>

        <hr>
        
        <h3>Featured content</h3>
        <div class="row">
            <div class="col-sm-6 col-lg-4"> 
                {% include_relative _includes/featured_tile.html chapter_slug='competition_rules_2016' %}
                {% include_relative _includes/featured_tile.html chapter_slug='judging_criteria' %}
            </div>
            <div class="col-sm-6 col-lg-4">
                {% include_relative _includes/featured_tile.html chapter_slug='ibm_bluemix' %}
                {% include_relative _includes/featured_tile.html chapter_slug='microsoft_azure_free_passes' %}
            </div>
        </div>
        
        <div style="display: none;">
        {% include_relative _includes/firstrun.html %}
        {% include_relative _includes/preferences.html %}
        </div>
    </section>

    {% comment %}
    ==================================================
    Print out all the sections that correspond to the 
    chronological menu
    Do a lookahead first, check that there are indeed
    articles for that chapter otherwise don't bother
    ==================================================
    {% endcomment %}
    {% for section in page.chrono_sections %}
    <section role="tabpanel" class="tab-pane" id="{{ section.category_verb }}">
        <header class="header">
            <h1>{{ section.heading }}</h1>
        </header>
        <div><!-- ex .container-fluid -->
            <div class="row">
            {% for aud in page.target_audiences %}
                {% assign counter = 0 %}
                {% for article in site.handbookchapters %}
                    {% if article.categories contains aud.category_name and article.tags contains section.category_verb %}
                        {% assign counter = counter | plus:1 %}
                    {% endif %}
                {% endfor %}
                {% unless counter == 0 %}        
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ aud.title }}</h3>
                      </div>
                      <!-- <div class="panel-body"></div> -->
                      <ul class="list-group">
                        {% for article in site.handbookchapters %}
                        {% if article.categories contains aud.category_name and article.tags contains section.category_verb %}
                        <li class="list-group-item">
                          <h4><a href="/handbook/{{ aud.category_name }}/{{ article.slug }}.html" >{{ article.title }}</a></h4>
                          {{ article.content | markdownify | strip_html | truncatewords: 22 }}
                        </li>
                        {% endif %}
                        {% endfor %} 
                      </ul>
                    </div>
                </div>
                {% endunless %}
            {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}

    {% comment %}
    ==================================================
    A list of all handbook + toolkit pages
    ==================================================
    {% endcomment %}
    <section role="tabpanel" class="tab-pane" id="all">
        <header class="header">
            <h1>Participant Handbook Chapters and Toolkit Guides</h1>
        </header>
        <div><!-- ex .container-fluid -->
            <div class="row">
            {% for aud in page.target_audiences %}
                {% assign counter = 0 %}
                {% for article in site.handbookchapters %} 
                    {% if article.categories contains aud.category_name %}
                        {% assign counter = counter | plus:1 %}
                    {% endif %}
                {% endfor %} 
                {% unless counter == 0 %}
                <div class="col-sm-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ aud.title }}</h3>
                      </div>
                      <!-- <div class="panel-body"></div> -->
                      <ul class="list-group">
                        {% for article in site.handbookchapters %}
                        {% if article.categories contains aud.category_name %}
                        <li class="list-group-item">
                          <h4><a href="/handbook/{{ aud.category_name }}/{{ article.slug }}.html" >{{ article.title }}</a></h4>
                          {{ article.content | strip_html | truncatewords: 22 }}
                        </li>
                        {% endif %}
                        {% endfor %} 
                        </ul>
                    </div>
                </div>
                {% endunless %}
            {% endfor %}
            </div>
        </div>
        

    </section>

</div>

<script>
$(function(){
    // Hash frag detection
    if (window.location.hash && window.location.hash.length > 2){
        var elem = $("[aria-controls='"+window.location.hash.substring(2)+"']");
        if (elem.length){
            elem.tab('show');
        }
    }

    // Over-bind sidebar menu to JS, for this index page
    $('#handbook-logo, #hb-nav a[data-target]').on('click', function(e){
        e.preventDefault();
        $(this).tab('show');

        if ($(this).attr('aria-controls')){
            window.location.hash = $(this).attr('aria-controls');
        }
        else {
            window.location.hash = '';
            $('#hb-nav li').removeClass('active');
        }

        return false;
    });
});
</script>