---
layout: bootstrap
no_major_sponsors: true
---
<!-- Registration, tiles etc -->
<section id="preamble">
    <div class="container gh-tiles">
        <div class="row" style="display: none">
            <div class="col-xs-12">
                <div class="panel-group" id="regoAccordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="regoHeading">
                      <h4 class="panel-title">
                        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#regoAccordion" href="#regoCollapse" aria-expanded="false" aria-controls="regoCollapse">
                          <strong>Registrations are still open! Click here.</strong>
                        </a>
                      </h4>
                    </div>
                    <div id="regoCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="regoHeading">
                      <div class="panel-body">
                        <p> Choose your home state to register, and don't forget to <a href="locations.html">read up on your chosen event</a>.</p>
                        {% for jurisdiction in site.jurisdictions %}
                            {% assign jurisdictions = "" %}
                            {% unless jurisdiction.eventbrite == nil %}
                                <div class="col-md-2 col-sm-3 col-xs-6">
                                    <strong>🎫 <a href="{{ jurisdiction.eventbrite }}">{{ jurisdiction.title }} tickets</a></strong>
                                </div>
                            {% endunless %}
                        {% endfor %}      
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    <div class="row">
                        {% if site.collections.prizes.enabled == true %}
                        <div class="col-md-6">
                            <a href="/prizes.html" class="tile blue tile--prizes">
                                <div class="tile-caption">
                                    <h3>Prizes</h3>
                                    <p>Shoot for the moon!</p>
                                </div>
                            </a>                            
                        </div>
                        {% endif %}
                        <!--<div class="col-md-6">-->
                            <!--<a href="/handbook" class="tile pink tile&#45;&#45;handbook">-->
                                <!--<div class="tile-caption">-->
                                    <!--<h3>Handbook</h3>-->
                                    <!--<p>Information for competitors and developers</p>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
            </div>
            <div class="col-md-6">
                    <div class="row">
                        {% if site.cfg.has_hackerspace == true %}
                        <div class="col-md-6">
                            <a href="https://2016.hackerspace.govhack.org" class="tile blue tile--hackerspace">
                                <div class="tile-caption">
                                    <h3>Hackerspace</h3>
                                    <p>Official team registration and submissions</p>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                        {% if site.collections.datasets.enabled == true %}
                        <div class="col-md-6">
                            <a href="/datasets.html" class="tile pink tile--datasets">
                                <div class="tile-caption">
                                    <h3>Datasets</h3>
                                    <p>Use official datasets to compete for prizes</p>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                    </div>
            </div>
  
        </div>
    </div>

</section>

<!-- Main Content -->
<section id="intro">
  <div class="container">
      <div>
        <p>
            <h2 data-toc-text="Welcome">Welcome to GovHack 2017!</h2>
        </p>
      </div>
  </div>
</section>

{% comment %}
<!-- Theme Section -->
{% assign theme_ids = "" %}
{% for theme in site.themes %}
    {% if theme.jurisdiction == "australia" %}
    {% assign theme_ids = theme_ids | append: theme.id %}
    {% assign theme_ids = theme_ids | append: "," %}
    {% endif %}
{% endfor %}

{% unless theme_ids == "" %}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="themes">Themes</h2>
                <h3 class="section-subheading text-muted">A few themes to get you started</h3>
            </div>
        </div>
        <div class="row">
            {% assign theme_ids_list = theme_ids | split: "," %}
            {% include theme_cards.bs.html theme_ids=theme_ids_list %}
        </div>
        <div class="row">
          <h3 class="section-subheading text-muted">We also have some state-specific themes to help you out...</h3>
          
          {% include jurisdictions_bar.bs.html section="prizes" %}
        </div>
    </div>
</section>
{% endunless %}

{% assign dataportal_ids = "" %}
{% for dataportal in site.dataportals %}
    {% if dataportal.type == "major-portal" %}
        {% assign dataportal_ids = dataportal_ids | append: dataportal.gid %}
        {% assign dataportal_ids = dataportal_ids | append: "," %}
    {% endif %}
{% endfor %}

{% unless dataportal_ids == "" %}
<!-- Data Portals Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 class="section-heading">Data Portals</h1>
          </div>
        </div>
        <div class="row">
            <p>
                While GovHack higlights a small number of official competition datasets, the full treasure trove of government data is available from a range of government, agency, and subject-area specific data portals. Visit our <a href="datasets.html">datasets</a> page for the full list.
            </p>
            {% assign dataportal_ids_list = dataportal_ids | lstrip | split: "," %}
            {% include dataportal_cards.bs.html dataportal_ids=dataportal_ids_list %}
        </div>
    </div>
</section>
{% endunless %}
{% endcomment %}

{% comment %}
<!-- Mentors Section -->
{% if site.mentors.size > 0 %}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h1 class="section-heading" id="mentors">Mentors</h1>
          </div>
        </div>
        <div class="row">
          {% assign mentors_by_jurisdn = site.mentors | group_by:"jurisdiction" %}
          {% include mentor_card_by_jurisdiction.bs.html mentors_by_jurisdn=mentors_by_jurisdn %}
        </div>
    </div>
</section>
{% endif %}
{% endcomment %}

{% include sponsor_block.bs.html sponsor_level="national" jurisdiction_gid="australia" jurisdiction_name="National" %}
