---
layout: bootstrap
---
<!-- Main Content -->
<section id="intro">
  <div class="container">
    <!--<div class="row header-row">
        <div class="col-lg-12 text-center">
            <h1>{{ page.name }}</h1>
        </div>
    </div>-->
    <div class="row">
      <div class="media">
        <div class="media-left">
            <img src="{{ page.logo_url }}" style="max-width: 200px; max-height: 200px;">
        </div>
        <div class="media-body">
          <!--<h4 class="media-heading"><a href="{{ page.url }}">{{ page.name }}</a></h4>-->
          {{ page.content }}
          
          {% for jurisdiction in site.jurisdictions %}
            {% if jurisdiction.id == page.jurisdiction %}
              {% assign jurisdiction = jurisdiction %}
              {% break %}
            {% endif %}
          {% endfor %}
          <h4>Jurisdiction: <a href="{{ jurisdiction.url }}">{{ jurisdiction.name }}</a></h4>
        </div>
        <div class="media-right jurisdictions-bar">
          <ul class="list-inline social-buttons">
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign organisation_ids = "" %}
{% for organisation in site.organisations %}
  {% for dataportal_id in organisation.dataportals %}
    {% if dataportal_id == page.id %}
      {% assign organisation_ids = organisation_ids | append: organisation.id %}
      {% assign organisation_ids = organisation_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless organisation_ids == "" %}
<!-- Organisations Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="organisations">Organisations</h2>
          </div>
        </div>
        <div class="row">
          {% assign organisation_ids_list = organisation_ids | lstrip | split: "," %}
          {% include organisation_cards.bs.html organisation_ids=organisation_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign mentor_ids = "" %}
{% for mentor in site.mentors %}
  {% for dataportal_id in mentor.dataportals %}
    {% if dataportal_id == page.id %}
      {% assign mentor_ids = mentor_ids | append: mentor.id %}
      {% assign mentor_ids = mentor_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless mentor_ids == "" %}
<!-- Mentors Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="mentors">Mentors</h2>
          </div>
        </div>
        <div class="row">
          {% assign mentor_ids_list = mentor_ids | lstrip | split: "," %}
          {% include mentor_cards.bs.html mentor_ids=mentor_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign prize_ids = "" %}
{% for prize in site.prizes %}
  {% for dataportal_id in prize.dataportals %}
    {% if dataportal_id == page.id %}
      {% assign prize_ids = prize_ids | append: prize.id %}
      {% assign prize_ids = prize_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless prize_ids == "" %}
<!-- Prizes Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="prizes">Prizes</h2>
          </div>
        </div>
        <div class="row">
          {% assign prize_ids_list = prize_ids | lstrip | split: "," %}
          {% include prize_cards.bs.html prize_ids=prize_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign field_ids = "" %}
{% for field in site.fields %}
  {% for dataportal_id in field.dataportals %}
    {% if dataportal_id == page.id %}
      {% assign field_ids = field_ids | append: field.id %}
      {% assign field_ids = field_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless field_ids == "" %}
<!-- Fields Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="fields">Fields</h2>
          </div>
        </div>
        <div class="row">
          {% assign field_ids_list = field_ids | lstrip | split: "," %}
          {% include field_cards.bs.html field_ids=field_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign theme_ids = "" %}
{% for theme in site.themes %}
  {% for dataportal_id in theme.dataportals %}
    {% if dataportal_id == page.id %}
      {% assign theme_ids = theme_ids | append: theme.id %}
      {% assign theme_ids = theme_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless theme_ids == "" %}
<!-- Themes Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="themes">Themes</h2>
          </div>
        </div>
        <div class="row">
          {% assign theme_ids_list = theme_ids | lstrip | split: "," %}
          {% include theme_cards.bs.html theme_ids=theme_ids_list %}
        </div>
    </div>
</section>
{% endunless %}