---
layout: handbook_template_bs
---

<header class="header">
    <h1 class="hb-chapter-title">{{ page.title }}</h1>
</header>

<article id="hb-content-{{ page.slug }}" class="hb-chapter-body">
    {{ page.content }}
</article>

<hr>
<div class="fb-comments" data-width="600px" data-numposts="5"></div>

<hr>
<footer class="hb-chapter-footer">
    Last updated: {{ page.last_updated }}
</footer>

<script>
$(function(){

    var $collapseTargetParent = $('#hb-content-{{ page.slug }}');
    var validHeadingTags = ['h1', 'h2', 'h3'];
    var headingThreshold = 3;
    
    if ($collapseTargetParent.find(validHeadingTags.join(', ')).length >= headingThreshold){

        // Groupify everything into heading+content pairs then
        // run el collapso https://github.com/danielstocks/jQuery-Collapse

        HB.groupHeadings($collapseTargetParent, validHeadingTags);

        $collapseTargetParent.collapse({
            query: validHeadingTags.join(', '),
            persist: true,
            open: function(){
                this.slideDown(100);
            },
            close: function(){
                this.slideUp(100);
            }
        });

    }

});
</script>