---
layout: handbook_template_bs
---

<header class="header">
    <h1 class="hb-chapter-title">{{ page.title }}</h1>
</header>

<article id="content-{{ page.slug }}" class="hb-chapter-body">
    {{ page.content }}
</article>

<hr>
<div class="fb-comments" data-width="600px" data-numposts="5"></div>

<hr>
<footer class="hb-chapter-footer">
    Last updated: {{ page.last_updated }}
</footer>

<script>
$(function(){
    var $parent = $('#content-{{ page.slug }}');
    HB.collapsePageContent($parent);
});
</script>