---
layout: bootstrap
---

<script src="/resources/js/location-map.js"></script>

<!-- Main Content -->
<section id="intro">
  <div class="container">
    <!--<div class="row header-row">
        <div class="col-lg-12 text-center">
            <h1>{{ page.name }}</h1>
        </div>
    </div>-->
    <div class="row">
      <div class="media">
        <div class="media-left">
            <!--<img src="{{ page.photo_url }}" style="max-width: 200px; max-height: 200px;">-->
        </div>
        <div class="media-body">
          <h2 class="media-heading" data-toc-skip><a href="{{ page.url }}">{{ page.name }}</a></h2>
          
          <div id="gh-location-map" class="location-map" style="width: 100%; min-height: 25vh;"></div>
          <script type="text/javascript">
          var locations = [];
          {% assign location_ids = "" %}
          {% for location in site.locations %}
            {% if location.jurisdiction == page.gid %}
              locations.push([{{ location.location.lat }}, {{ location.location.lon }}]);
            {% endif %}
          {% endfor %}
          
          location_map(locations);
          </script>
          
          {{ page.content }}
        </div>
      </div>
      
      <ul class="list-inline social-buttons">
          {% if page.contact.twitter %}
          <li>
              <a href="#">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {% endif %}
          {% if page.contact.facebook %}
          <li>
              <a href="#">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {% endif %}
          {% if page.website_url %}
          <li>
              <a href="#">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                  </span>
              </a>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</section>

{% assign location_ids = "" %}
{% for location in site.locations %}
  {% if location.jurisdiction == page.gid %}
    {% assign location_ids = location_ids | append: location.gid %}
    {% assign location_ids = location_ids | append: "," %}
  {% endif %}
{% endfor %}

{% unless location_ids == "" %}
<!-- Locations Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Locations</h2>
          </div>
        </div>
        <div class="row">
          {% assign location_ids_list = location_ids | lstrip | split: "," %}
          {% include location_cards.bs.html location_ids=location_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign theme_ids = "" %}
{% for theme in site.themes %}
  {% if theme.jurisdiction == page.gid %}
    {% assign theme_ids = theme_ids | append: theme.id %}
    {% assign theme_ids = theme_ids | append: "," %}
  {% endif %}
{% endfor %}

{% unless theme_ids == "" %}
<!-- Themes Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="themes">State Themes</h2>
          </div>
        </div>
        <div class="row">
          {% assign theme_ids_list = theme_ids | lstrip | split: "," %}
          {% include theme_cards.bs.html theme_ids=theme_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign prize_ids = "" %}
{% for prize in site.prizes %}
  {% if prize.jurisdiction == page.gid %}
    {% assign prize_ids = prize_ids | append: prize.gid %}
    {% assign prize_ids = prize_ids | append: "," %}
  {% endif %}
{% endfor %}

{% unless prize_ids == "" %}
<!-- Prizes Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="prizes">State Prizes</h2>
          </div>
        </div>
        <div class="row">
          {% assign prize_ids_list = prize_ids | lstrip | split: "," %}
          {% include prize_cards.bs.html prize_ids=prize_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign state_org_ids = "" %}
{% for dataset in site.datasets %}
    {% if dataset.jurisdiction == page.gid %}
        {% assign state_org_ids = state_org_ids | append: dataset.organisation %}
        {% assign state_org_ids = state_org_ids | append: "," %}
    {% endif %}
{% endfor %}

{% unless state_org_ids == "" %}
<!-- Datasets Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="datasets">Official State Datasets</h2>
              <small class="notice">These are just some of your state datasets - check out the <a href="/datasets.html">official datasets list</a> for much more!</small>
          </div>
        </div>
        <div class="row">
          {% assign state_org_ids_list = state_org_ids | lstrip | split: "," %}
          {% include dataset_cards_by_organisation.bs.html organisation_ids=state_org_ids_list org_heading_lvl="h3" %}
        </div>
    </div>
</section>
{% endunless %}

{% assign dataportal_ids = site.dataportals | where: "type", "major-portal" | where: "jurisdiction", page.gid | map: "gid" %}
{% unless site.dataportals == nil %}
    {% for dataportal in site.dataportals %}
      {% if dataportal.jurisdiction == page.gid and dataportal.type != "major-portal" %}
        {% assign dataportal_ids = dataportal_ids | push: dataportal.gid %}
      {% endif %}
    {% endfor %}
{% endunless %}

{% unless dataportal_ids == "" %}
<!-- Data Portals Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="dataportals">State Data Portals</h2>
              <small class="notice">These are just some of your state data portals - check out the <a href="/datasets.html">official datasets list</a> for much more!</small>
          </div>
        </div>
        <div class="row">
          {% include dataportal_cards.bs.html dataportal_ids=dataportal_ids %}
        </div>
    </div>
</section>
{% endunless %}

{% assign mentor_ids = "" %}
{% for mentor in site.mentors %}
  {% if mentor.jurisdiction == page.gid %}
    {% assign mentor_ids = mentor_ids | append: mentor.gid %}
    {% assign mentor_ids = mentor_ids | append: "," %}
  {% endif %}
{% endfor %}

{% unless mentor_ids == "" %}
<!-- Mentors Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="mentors">State Mentors</h2>
          </div>
        </div>
        <div class="row">
          {% assign mentor_ids_list = mentor_ids | lstrip | split: "," %}
          {% include mentor_cards.bs.html mentor_ids=mentor_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% assign organisation_ids = "" %}
{% for organisation in site.organisations %}
  {% if organisation.jurisdiction == page.gid %}
    {% assign organisation_ids = organisation_ids | append: organisation.gid %}
    {% assign organisation_ids = organisation_ids | append: "," %}
  {% endif %}
{% endfor %}

{% comment %}
{% unless organisation_ids == "" %}
<!-- Organisations Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="organisations">State Organisations</h2>
          </div>
        </div>
        <div class="row">
          {% assign organisation_ids_list = organisation_ids | lstrip | split: "," %}
          {% include organisation_cards.bs.html organisation_ids=organisation_ids_list %}
        </div>
    </div>
</section>
{% endunless %}
{% endcomment %}

{% include sponsor_block.bs.html sponsor_level="state" jurisdiction_gid=page.gid jurisdiction_name="State" %}