---
layout: bootstrap
type: location
---

{% comment %}
========================
Location-map is the bootstrap js file that loads leaflet etc
Slick is the carousel plugin for location page images
========================
{% endcomment %}

<script src="/resources/js/location-map.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
<script>
$(function(){
    // Carousel
    $('.location-images').slick({
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        variableWidth: true
    });
});
</script>

{% comment %}
========================
Attempt to locate the signup link and if it exists, bind the rego_link 
variable to this URL. Here I attempt to cater for all the strange ways
that our authors (or indeed myself) might indicate a signup link.
========================
{% endcomment %}
{% if page.rego_link %}
    {% assign rego_link = page.rego_link %}
{% elsif page.signup %}
    {% assign rego_link = page.signup %}
{% elsif page.signup_link %}
    {% assign rego_link = page.signup_link %}
{% elsif page.registration %}
    {% assign rego_link = page.registration %}
{% elsif page.eventbrite %}
    {% assign rego_link = page.eventbrite %}
{% endif %}

<!-- Main Content -->
<section id="intro">
  <div class="container">
    <div class="header-row">
        <div class="media">
            <!-- <div class="media-left">
                <img src="{{ }}" style="max-width: 200px; max-height: 200px;">
            </div> -->
            <div class="media-body">
                {% for jurisdiction in site.jurisdictions %}
                    {% if jurisdiction.gid == page.jurisdiction %}
                      {% assign jurisdiction = jurisdiction %}
                      {% break %}
                    {% endif %}
                {% endfor %}
              
                {% if page.type contains 'Official' or page.type contains 'official' %}
                    {% assign page_type_class = 'icon-event-type-official' %}
                {% elsif page.type contains 'Node' or page.type contains 'node' %}
                    {% assign page_type_class = 'icon-event-type-node' %}
                {% endif %}
              
                
                {% comment %}
                =======================================
                `prefix` is the event type that is prefixed to the location title
                `name` should be purely the name of the location
                > E.g. "Unleashed Adelaide" or "GovHack Hunter Valley"
                page_type_class determines the colour of the icon box
                =======================================
                {% endcomment %}
                <h2><a href="{{ page.url }}">{{ page.prefix }} {{ page.name }}</a> </h2>
                <h3 data-toc-skip class="icon-event-type {{ page_type_class }}">{{ page.type }} (<a href="{{ jurisdiction.url }}">{{ jurisdiction.name }}</a>) {% unless page.theme == nil %} <span class="location-theme">{{ page.theme }}</span> {% endunless %}</h3>
                
                {% comment %}
                =======================================
                If a location page looks like it hasn't been populated yet, show 
                a little friendly tag.
                =======================================
                {% endcomment %}
                {% if page.venue == nil %}
                <div class="location-wip">This location hasn't been finalised yet – please check again shortly!</div>
                {% endif %}
                
            </div>
        </div>
    </div>
    
    {% comment %}
    =======================================
    Show registration link if necessary
    =======================================
    {% endcomment %}
    {% unless rego_link == nil %}
    <div>
        <a class="location-rego-link" href="{{ rego_link }}">Register for {{ page.prefix }} {{ page.name }}</a>
        {% if page.eventbrite %}
        <!-- &nbsp;<em class="text-muted">on EventBrite</em> -->
      {% endif %}
    </div>
    {% endunless %}

      {% comment %}
      =======================================
      Venue photos will appear at the top. This will captivate!
      Location contains the lat/long needed to drive the leaflet map.
      It will also attempt to pull the venue name and address as well.
      =======================================
      {% endcomment %}
      {% unless page.location == nil %}
      <hr>
      <h3>Location</h3>
      <div id="gh-location-map" class="location-map" style="width: 100%; min-height: 20vh;"></div>
      <script type="text/javascript">
      location_map([[{{ page.location.lat }}, {{ page.location.lon }}]]);
      </script>
      {% endunless %}
      <div class="location-byline">
          {% unless page.venue.name == nil and page.location.name == nil %}
          <div class="location-name"><strong>{{ page.venue.name | default: page.location.name }}</strong></div>
          {% endunless %}  
          {% unless page.venue.address == nil and page.location.address == nil %}
          <div class="location-address">{{ page.venue.address | default: page.location.address }}</div>
          {% endunless %}  
      </div>
      {% unless page.images == nil %}
      <hr>
      <div class="location-images">
        {% for image_url in page.images %}
            <div class="location-image-tile"><img class="img-responsive" src="{{ image_url }}" alt="{{ page.name }}"></div>
        {% endfor %}
      </div>
      {% endunless %}  

      
      {% comment %}
      =======================================
      The Follow section reads from `contact` in frontmatter and
      can accept:
      + Twitter (with or without leading '@')
      + Facebook
      + Website (as `website_url`)
      + Instagram
      Additionally it searches for a standalone `website` field in 
      frontmatter and treats that as an object
      =======================================
      {% endcomment %}
      
      {% unless page.contact == nil %}
      <hr>
      <h3>Follow</h3>
      <ul class="list-inline social-buttons">
          {% if page.contact.twitter %}
          <li>
              <a href="https://twitter.com/{{ page.contact.twitter }}" target="_blank">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                  @{{ page.contact.twitter }}
              </a>
          </li>
          {% endif %}
          {% if page.contact.facebook %}
          <li>
              <a href="https://facebook.com/{{ page.contact.facebook }}" target="_blank">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>                  
                  fb.me/{{ page.contact.facebook }}
              </a>
          </li>
          {% endif %}
          {% if page.contact.instagram %}
          <li>
              <a href="https://instagram.com/{{ page.contact.instagram }}" target="_blank">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>                  
                  @{{ page.contact.instagram }}
              </a>
          </li>
          {% endif %}
          {% if page.contact.youtube %}
          <li>
              <a href="https://youtube.com/{{ page.contact.youtube }}" target="_blank">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>                  
                  @{{ page.contact.youtube }}
              </a>
          </li>
          {% endif %}
          {% if page.website or page.contact.website_url %}
          <li>
              <a href="{{ page.website.url | default: page.contact.website_url }}" target="_blank">
                  <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                  </span>
                  {{ page.website.name | default: 'Event Website' }}
              </a>
          </li>
          {% endif %}
      </ul>
      {% endunless %}

        {% comment %}
        =======================================
        Render page's markdown content here. Markdown accepted.
        =======================================
        {% endcomment %}

        {% unless page.content == "" %}
        <hr>
        {{ page.content | markdownify }}
        {% else %}
        <div class="empty-state"></div>
        {% endunless %}    


        {% comment %}
        =======================================
        Venue contains information for:
        + Host name and possibly host email
        + Name of venue
        + Street address
        + Accessibility
        + Under 18 supervision
        + Capacity
        + Parking and Public Transport
        =======================================
        {% endcomment %}

        {% unless page.venue == nil %}
        {% capture host_value %}{{ page.venue.host }} 
        {% if page.contact.email %} - <small><a href="mailto:{{ page.contact.email }}">email</a></small>{% endif %}
        {% if page.contact.phone %} - <small><a href="tel:{{ page.contact.phone }}">phone</a></small>{% endif %}
        {% endcapture %}
        
        <hr/>
        <div class="row location-venue-details">
            <h3>Venue Details</h3>
            <div class="col-md-6 col-xs-12">
                {% include list_item_snippet.html item_name="Event Host" item_value=host_value %}
                {% include list_item_snippet.html item_name="Event Team" item_value=page.venue.team %}
                {% include list_item_snippet.html item_name="Address" item_value=page.venue.address as_markdown=true %}
                {% include list_item_snippet.html item_name="Phone" item_value=page.contact.phone %}
                <h4 class="text-muted">Open/Close times</h4>
                <dl>
                    <dt>Friday 29th July</dt>
                    <dd>{{ page.times.friday.open }} &ndash; {{ page.times.friday.close }}</dd>
                    <dt>Saturday 30th July</dt>
                    <dd>{{ page.times.saturday.open }} &ndash; {{ page.times.saturday.close }}</dd>
                    <dt>Sunday 31st July</dt>
                    <dd>{{ page.times.sunday.open }} &ndash; {{ page.times.sunday.close }}</dd>
                </dl>
                {% include list_item_snippet.html item_name="Catering" item_value=page.catering as_markdown=true %}
            </div>
            <div class="col-md-6 col-xs-12">
                <!-- <h4 data-skip-toc>
                    {{ page.venue.name }} <br> 
                    <small class="text-muted">{{ page.venue.address }}</small>
                </h4> -->
                {% include list_item_snippet.html item_name="Building accessibility" item_value=page.venue.accessibility as_markdown=true %}
                {% include list_item_snippet.html item_name="Childcare" item_value=page.venue.childcare as_markdown=true %}
                {% include list_item_snippet.html item_name="Under 18 participants" item_value=page.venue.under_18 as_markdown=true %}
                {% include list_item_snippet.html item_name="Public transport" item_value=page.venue.public_transport as_markdown=true %}
                {% include list_item_snippet.html item_name="Last call for public transport" item_value=page.venue.public_transport_last as_markdown=true %}
                {% include list_item_snippet.html item_name="Parking" item_value=page.venue.parking as_markdown=true %}
            </div>
        </div>
        {% endunless %}
    
  </div>
</section>
