---
layout: bootstrap
---
<!-- Main Content -->
<section id="intro">
  <div class="container">
    <!--<div class="row header-row">
        <div class="col-lg-12 text-center">
            <h1>{{ page.name }}</h1>
        </div>
    </div>-->
    <div class="row">
      <div class="media">
        <div class="media-left">
            <a href="{{ page.website_url }}"><img src="{{ page.logo_url }}" style="max-width: 200px; max-height: 200px;"></a>
        </div>
        <div class="media-body">
          <!--<h4 class="media-heading"><a href="{{ page.url }}">{{ page.name }}</a></h4>-->
          {{ page.content }}
          
          {% for jurisdiction in site.jurisdictions %}
            {% if jurisdiction.id == page.jurisdiction %}
              {% assign jurisdiction = jurisdiction %}
              {% break %}
            {% endif %}
          {% endfor %}
          <h4>Jurisdiction: <a href="{{ jurisdiction.url }}">{{ jurisdiction.name }}</a></h4>
        </div>
        <div class="media-right jurisdictions-bar">
          <!--<div class="thumbnail" style="width: 75px;">
            <a href="#">
              <img src="holder.js/70x70" alt="...">
              <div class="caption">
                <h4>AUS</h4>
              </div>
            </a>
          </div>-->
          <ul class="list-inline social-buttons">
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% assign prize_ids = "" %}
{% for prize in site.prizes %}
  {% for organisation_id in prize.organisations %}
    {% if organisation_id == page.id %}
      {% assign prize_ids = prize_ids | append: prize.id %}
      {% assign prize_ids = prize_ids | append: "," %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% unless prize_ids == "" %}
<!-- Prizes Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="prizes">Prizes</h2>
          </div>
        </div>
        <div class="row">
          {% assign prize_ids_list = prize_ids | lstrip | split: "," %}
          {% include prize_cards.bs.html prize_ids=prize_ids_list %}
        </div>
    </div>
</section>
{% endunless %}

{% capture mentor_ids %}{% include get_organisation_mentors.html organisation_id=page.id %}{% endcapture %}
{% assign mentor_ids = mentor_ids | lstrip %}

{% if mentor_ids %}
<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Mentors</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% include mentor_cards.team.bs.html mentor_ids=mentor_ids %}
        </div>
        <!--<div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
          </div>
        </div>-->
    </div>
</section>

<!--<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="mentors">Mentors</h2>
          </div>
        </div>
        <div class="row">
          {% include mentor_cards.bs.html mentor_ids=mentor_ids %}
        </div>
    </div>
</section>-->
{% endif %}

{% if page.datasets %}
<!-- Datasets Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="datasets">Datasets</h2>
          </div>
        </div>
        <div class="row">
          {% include dataset_cards.bs.html dataset_ids=page.datasets %}
        </div>
    </div>
</section>
{% endif %}

{% if page.themes %}
<!-- Themes Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="themes">Themes</h2>
          </div>
        </div>
        <div class="row">
          {% include theme_cards.bs.html theme_ids=page.themes %}
        </div>
    </div>
</section>
{% endif %}

{% if page.dataportals %}
<!-- Data Portals Section -->
<section id="portfolio">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="dataportals">Data Portals</h2>
          </div>
        </div>
        <div class="row">
          {% include dataportal_cards.bs.html dataportal_ids=page.dataportals %}
        </div>
    </div>
</section>
{% endif %}

{% if page.fields %}
<!-- Fields Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row header-row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading" id="fields">Fields</h2>
          </div>
        </div>
        <div class="row">
          {% include field_cards.bs.html field_ids=page.fields %}
        </div>
    </div>
</section>
{% endif %}