---
layout: default
---
<div class="content{% if page.photo_url %} photo-post{% endif %}">
  <div class="post single">
    <h1>{{ page.title }}</h1>
    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.tags | array_to_sentence_string }}
    </info>
    <div class="body">{{ content }}</div>
    <!-- <div class="breaker"></div> -->
    <div class="breaker"></div>
    <!-- <info class="after">
<div class="fb-like" data-href="http://govhack-science.github.io{{ page.url }}" data-send="false" data-width="550" data-show-faces="false" data-font="arial"></div>
    </info> -->
  </div>
</div>
{% include autoreload-in-debug.html %}
